<h1 class="all--bloggers">ALL BLOGGERS</h1>

<ul class="bloggers--list">
  <% @all_users.each do |blogger| %>
    <li class="blogger--item">
      <img src="<%= blogger.photo %>" alt="Blogger" class="details-box" >
      <div class="name--posts">
        <h3 class="blogger--name"><%= blogger.name %></h3>
          <p class="posts--number">Number of Posts: <%= blogger.posts_counter || 0 %></p>
      </div>
    </li>
  <% end %>
</ul>
