<h1 class="page--header">ALL USERS</h1>

<ul class="users--list">
  <% @all_users.each do |user| %>

    <li class="user--item">
      <img src="<%= user.photo %>" alt="user" class="user--photo" >
      <div class="name--posts">
        <h3><%= link_to user.name, user_path(user.id) %></h3>
        <p class="posts--number">Number of Posts: <%= user.posts_counter || 0 %></p>
      </div>
    </li>

  <% end %>
</ul>
