<li class="post--brief">

    <%= link_to post.title, user_post_path(post.user.id, post.id) %>

  <p class="post--text"> <%= post.text %> </p>
  <span class="comments--likes">
    Comments: <%= post.comments_counter || 0 %> ,
    Likes: <%= post.likes_counter || 0 %>
  </span>
</li>
